.header {
	width: 100%;
	border-radius: 8px;
	background-color: $colorMain;
		&__wrapper {
		display: flex;
		align-items: center;
		padding: 15px 16px 8px;
	}
	&__logo {
		margin: 0 14px 0 0;
		flex: 0 0 50px;
		overflow: hidden;
		cursor: pointer;
		img {
			width: 100%;
			height: auto;
		}
	}
	&__controls {
		display: flex;
		align-items: center;
		margin-left: auto;
		gap: 8px;
	}
	&__buttons {
		&._active {
			left: 50%;
			transform: translateX(-50%);
		}
		@media (max-width: $breakPoint768) {
			position: absolute;
			left: -100%;
			bottom: 0;
			display: flex;
			flex-direction: column;
			transition: all 0.6s ease 0s;
			z-index: 2;
			.header__btn {
				margin: 0 0 20px 0;
				text-align: center;
			}
		}
	}
	&__btn {
		padding: 8px 12px;
		font-weight: 600;
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.01em;
		border: none;
	}
}

.menu {
	&__list {
		display: flex;
		gap: 24px;
	}
	&__item {
	}
	&__link {
		font-weight: 600;
		font-size: 17px;
		line-height: 21px;
		letter-spacing: 0.02em;
		color: white;
		opacity: 0.85;
		&:hover {
			opacity: 1;
			text-decoration: underline;
			transition: all 0.5s ease;
		}
	}
}

.selectLang {
	margin: 0 24px 0 0;
	padding: 12px 16px;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-align: right;
	color: white;
	background-color: $colorMain;
}

.icon-menu {
	display: none;
}

// burger
@import "burger";
