.hero {
	position: relative;
	&__wrapper {
		width: 100%;
		height: 100vh;
		border-radius: 8px;
		background-color: $colorMain;
		z-index: 1;
	}

	&__back {
		position: absolute;
		width: 100%;
		height: 620px;
		right: 0px;
		bottom: 0;
		overflow: hidden;
		@media (max-width: $breakPoint992) {
			height: 490px;
		}
		@media (max-width: $breakPoint768) {
			height: 444px;
		}
		@media (max-width: $breakPoint480) {
			height: 462px;
		}

		&_img {
			position: absolute;
			width: 660px;
			top: 80px;
			right: -28px;
			height: auto;
			z-index: 2;
			@media (max-width: $breakPoint1200) {
				width: 620px;
				top: 88px;
			}
			@media (max-width: $breakPoint992) {
				width: 72%;
			}
			@media (max-width: $breakPoint768) {
				width: 80%;
			}
			@media (max-width: $breakPoint480) {
				width: 106%;
				top: 120px;
			}
		}
	}

	&__content {
		padding: 73px 0 0 40px;
		@media (max-width: $breakPoint480) {
			padding-left: 10px;
		}
	}

	&__title {
		margin-top: 106px;
		@media (max-width: $breakPoint768) {
			margin-top: 60px;
		}
		@media (max-width: $breakPoint480) {
			margin-top: 40px;
		}
	}

	&__buttons {
		margin-top: 50px;
		@media (max-width: $breakPoint480) {
			margin-top: 60px;
		}
		&_span {
			margin: 0 14px;
			font-size: 20px;
			line-height: 145%;
			color: rgba(255, 255, 255, 0.35);
		}
	}

	&__btn {
	}

	&__text {
		margin-top: 42px;
		@media (max-width: $breakPoint480) {
			margin-top: 52px;
		}
	}
}

.hero-title {
	max-width: 715px;
	font-size: 72px;
	line-height: 95%;
	color: #ffffff;
	@media (max-width: $breakPoint992) {
		max-width: 100%;
		font-size: 62px;
	}
	@media (max-width: $breakPoint480) {
		font-size: 44px;
		line-height: 120%;
	}
}

.text-hero {
	max-width: 572px;
	font-weight: 500;
	font-size: 22px;
	line-height: 145%;
	color: #aac0e0;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gradient-hero {
	position: absolute;
	width: 869px;
	height: 869px;
	left: 455px;
	top: 321px;

	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(57, 139, 255, 0.324) 0%,
		rgba(57, 139, 255, 0.24) 20.83%,
		rgba(57, 139, 255, 0) 100%
	);
	opacity: 0.75;
	z-index: 1;
	@media (max-width: $breakPoint1200) {
		left: 300px;
		top: 260px;
	}
	@media (max-width: $breakPoint992) {
		left: 100px;
		top: 100px;
	}
}
